@font-face {
  font-family: 'Rounded Mplus 1p';
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/rounded-mplus-1p-regular.woff2') format('woff2'),
  url('~/assets/fonts/rounded-mplus-1p-regular.woff') format('woff'),
  url('~/assets/fonts/rounded-mplus-1p-regular.ttf');
}

@font-face {
  font-family: 'Rounded Mplus 1p';
  font-style: normal;
  font-weight: 500;
  src: url('~/assets/fonts/rounded-mplus-1p-bold.woff2') format('woff2'),
  url('~/assets/fonts/rounded-mplus-1p-bold.woff') format('woff'),
  url('~/assets/fonts/rounded-mplus-1p-bold.ttf');
}
